<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard.css') }}"
    />
    <title>Try Passage</title>
  </head>
  <body>
    <div class="bg-poly"></div>

    <div class="header">
      {{identifier}} signed in
      <br />
      with <strong>Passage.</strong>
    </div>

    <div class="img-container">
      <img
        src="{{ url_for('static', filename='launch.png') }}"
        alt="People Celebrating"
      />
    </div>

    <div class="footer">
      Implement awesome authentication with two lines of code.
      <br />
      <a href="https://passage.id">
        <button class="btn btn-lg">Request Early Access</button>
      </a>
    </div>

    <!-- Include the passage-web JavaScript from the Passage CDN. -->
    <script src="https://cdn.passage.id/passage-web.js"></script>
  </body>
</html>
