html, body {
  color: #444547;
  font-family: 'Nunito', sans-serif;
}


passage-auth {
      --passage-button-active-background-color: #457ab2;
      --passage-button-active-border-color: #457ab2;
      --passage-button-active-color: #fff;
      --passage-button-background-color: #457ab2;
      --passage-button-border-color: #457ab2;
      --passage-button-border-radius: 0px;
      --passage-button-color: white;
      --passage-button-hover-background-color: #2e5885;
      --passage-button-hover-border-color: #2e5885;
      --passage-button-hover-colo: white;
      --passage-container-background: rgba(0,0,0,0);
      --passage-container-padding: 50px;
      --passage-control-background-color: white;
      --passage-control-border-color: #dbdbdb;
      --passage-control-border-radius: 0px;
      --passage-control-border-width: 1px;
      --passage-control-height: 2.5em;
      --passage-control-text-color: #22283a;
      --passage-header-text-color: #eeeeee;
  }


.bg-poly {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  
  background: #5e68beff;
  width: 100vw;
  height: 50vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  color: white;
  text-align: center;
  font-size: 1.75em;
  margin: 2em;
}

.header > strong {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2em;
}

.img-container {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  text-align: center;
  font-size: 1.75em;
  margin: 2em;
}

.footer > a > button {
  background-color: #5e68beff;
  color: white;
  margin: 1em;
}

.footer > a > button:hover {
  color: white;
}

